    .titulo{
        font-family: 'Baloo Bhaina', cursive;
        font-size: 40px;
    }

    .letra{
        font-family: 'Baloo Bhaina', cursive;
        font-size: 22px;
    } 

    .boton{
        font-family: 'Baloo Bhaina', cursive;
        font-size: 20px;
        border-radius: 5px;
        color: #ffffff;
        background: #ff7f50;
        width: 130px;
    }        
